@page "{id:int}"
@model RiverStateReporting.Pages.Stations.EditModel

@{
    ViewData["Title"] = "Edit Station";
}

<h2 class="text-center mt-3">Edit Station</h2>

<div class="container col-md-6">
    <form method="post" class="bg-light bg-opacity-75 mt-4 rounded p-4">
        <div class="form-group">
            <label asp-for="Station.Id" class="control-label">Station ID</label>
            <input asp-for="Station.Id" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Station.River" class="control-label">River</label>
            <input asp-for="Station.River" class="form-control" id="river" />
            <span asp-validation-for="Station.River" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Station.RiverKm" class="control-label">River Km</label>
            <input asp-for="Station.RiverKm" class="form-control" id="riverKm" />
            <span asp-validation-for="Station.RiverKm" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Station.Title" class="control-label">Title</label>
            <input asp-for="Station.Title" class="form-control" id="title" readonly />
        </div>

        <div class="form-group">
            <label asp-for="Station.FloodLevel" class="control-label">Flood Level</label>
            <input asp-for="Station.FloodLevel" class="form-control" />
            <span asp-validation-for="Station.FloodLevel" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Station.DroughtLevel" class="control-label">Drought Level</label>
            <input asp-for="Station.DroughtLevel" class="form-control" />
            <span asp-validation-for="Station.DroughtLevel" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Station.TimeOutInMinutes" class="control-label">Timeout (Minutes)</label>
            <input asp-for="Station.TimeOutInMinutes" class="form-control" />
            <span asp-validation-for="Station.TimeOutInMinutes" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Station.AlertEmail1" class="control-label">Alert Email 1</label>
            <input asp-for="Station.AlertEmail1" class="form-control" type="email" />
            <span asp-validation-for="Station.AlertEmail1" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Station.AlertEmail2" class="control-label">Alert Email 2</label>
            <input asp-for="Station.AlertEmail2" class="form-control" type="email" />
            <span asp-validation-for="Station.AlertEmail2" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Station.AlertEmail3" class="control-label">Alert Email 3</label>
            <input asp-for="Station.AlertEmail3" class="form-control" type="email" />
            <span asp-validation-for="Station.AlertEmail3" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Station.CreatedByUser" class="control-label">Previously updated by</label>
            <input asp-for="Station.CreatedByUser" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Station.CreatedOn" class="control-label">Previously updated on</label>
            <input asp-for="Station.CreatedOn" class="form-control" readonly />
        </div>
        <input type="hidden" asp-for="Station.CreatedByUser" />
        <input type="hidden" asp-for="Station.CreatedOn" />

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#river, #riverKm').on('input', function () {
                var river = $('#river').val();
                var riverKm = $('#riverKm').val();
                $('#title').val(river + ' ' + riverKm);
            });
        });
    </script>
}
